.container{
    width:500px;
    height: 500px;
    border: 2px solid black;
    background-color: rgb(23, 18, 18);
}

.col{
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    font: bold;
}
.col-9{
    border-radius: 20px;
    text-align: right;
    font-size: 30px;
    font-weight: 400;
    font: bold;

}
input{
    background-color: royalblue;
    opacity: 1;
    border-radius: 20px;
}